.main {
	align-items: center;
	display: flex;
}

.box {
	flex: auto;
	align-items: center;
	display: flex;
	min-height: 80px;
	width: 320px;
	height: auto;
	background-color: #807575;
	border: 8px solid #807575;
	border-radius: 5px 5px 5px 5px;
	margin-top: 30px;
	margin-left: 35%;
	margin-right: 35%;
}

.itens {
	flex: auto;
	align-items: center;
	margin: 12px;
	color: #74dd46;
	text-align: center;
}

.itens img {
	max-width: 80px;
	max-height: 60px;
	width: auto;
	height: auto;
}

.itens button {
	height: 26px;
	width: 60px;
	border-radius: 8px 8px 8px 8px;
	cursor: pointer;
}
