.filters-bar {
	display: flex;
	flex-direction: column;
	padding: 20px;
	border-right: 1px solid rgb(168, 168, 168);
}

.filters-bar label {
	font-weight: bold;
	margin-bottom: 10px;
}

.filters-bar button {
	padding: 0;
	text-align: left;
	cursor: pointer;
	border: none;
	color: rgb(0, 114, 190);
	background-color: transparent;
	margin: 3px 0;
}

.filters-bar button:hover {
	text-decoration: underline;
}
