.history-main{
    background-color: rgb(218, 218, 218);
    min-height: 429px;
}

.history-title{
    margin-top: 0px;
    padding-top: 15px;
    text-align: center;
}

.transation-items{
    margin-bottom: 0px;
    padding-bottom: 15px;
}

.transation-item-info{
    border: outset 3px green;
    width: 35%;
    height: auto;
    margin: 0 auto;
    margin-top: 2px;
    padding: 3px 0px 8px 0px;
    display: flex;
}

.transation-item-info .left{
    text-align: left;
    width: 70%;
    padding-left: 45px;
}

.transation-item-info .right{
    margin-top: 23%;
}

.transation-item-info .right button{
    background-color: #7dd359;
}

.details-main{
    background-color: rgb(53, 128, 53);
    color: rgb(218, 218, 218);
    width: 400px;
    height: 300px;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -150px;
    position: fixed;
    padding: 20px 20px 20px 20px;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 3px 3px 5px black;
    visibility: hidden;
}

.details-img img{
    max-width: 150px;
    max-height: 150px;
    width: auto;
    height: auto;
}

.details-close{
    direction: rtl;
}

.details-close button{
    cursor: pointer;
    background-image: url('https://cdn2.iconfinder.com/data/icons/media-controls-5/100/close-512.png');
    background-repeat: no-repeat;
    background-position: center;
	background-size: 25px 25px;
	border: none;
	background-color: transparent;
	width: 25px;
	height: 25px;
}