@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Merriweather+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

.product-page {
	min-height: 60vh;
	padding: 60px;
}

.product-page .top-section {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.product-page .left-section {
	display: flex;
	flex-direction: row;
}

.product-page .left-section img {
	border: 1px solid rgb(173, 173, 173);
	margin-right: 30px;
	max-width: 40%;
}

.product-page .left-section h2 {
	font-family: 'Merriweather', sans-serif;
	font-size: 30px;
}

.product-page .left-section p {
	font-family: 'IBM Plex Sans', sans-serif;
}

.product-page .right-section .product-price-area .product-price {
	margin-left: 5px;
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: bold;
	color: rgb(119, 0, 0);
}

.product-page .add-to-cart-button,
.product-page .remove-from-cart-button,
.product-page .talk-to-seller-button {
	margin-top: 15px;
	cursor: pointer;
	width: 140px;
	padding: 7px;
	font-size: 16px;
	border: 1px solid black;
	border-radius: 2px;
	margin-left: 2px;
	margin-right: 2px;
}

.product-page .add-to-cart-button {
	background-color: rgb(248, 230, 69);
}

.product-page .add-to-cart-button:hover {
	background-color: rgb(248, 200, 69);
}

.product-page .remove-from-cart-button {
	background-color: rgb(255, 117, 93);
}

.product-page .remove-from-cart-button:hover {
	background-color: rgb(255, 93, 93);
}

.product-page .talk-to-seller-button {
	background-color: rgb(146, 226, 27);
}

.product-page .talk-to-seller-button:hover {
	background-color: rgb(106, 163, 19);
}

.product-page .seller-area {
	margin-top: 30px;
	text-align: center;
	padding: 7px;
	background-color: rgb(194, 194, 194);
	border-radius: 3px;
}

.product-page .seller-area .seller-name-span {
	display: block;
	font-family: 'Merriweather', sans-serif;
	font-weight: bold;
	margin-bottom: 10px;
}

.product-page .seller-area img {
	max-width: 100px;
	border-radius: 100%;
}
