@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Merriweather+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

main {
	margin: 0 auto;
	width: 100%;
	position: relative;
}

ul {
	padding: 0px !important;
}

.column-100 {
	width: 100%;
	position: relative;
}

body {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.header-homepage {
	width: 100%;
	background-color: #7dd359;
	height: 87px;
	margin-top: -10px;
}

.header {
	width: 100%;
	background-color: #000000;
	height: 83px;
}

.logo {
	margin-left: 10px;
	margin-top: 10px;
	width: 5%;
	float: left;
	/*border: 1px solid #7DD359;*/
}

.busca {
	margin-left: 1250px;
	margin-top: -50px;
	float: left;
	width: 13%;
	/*border: 1px solid #7DD359;*/
}

.busca input {
	/*background-image: url('../Images/lupa-micro.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right;*/
	margin-top: 20px;
	height: 18px;
	padding: 3px;
	width: 190px;
	border-radius: 60px 0px 0px 60px;
	border: 1px solid #7dd359;
}

.busca button {
	background-image: url('../Images/lupa-micro.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 26px;
	width: 45px;
	position: absolute;
	border-radius: 0px 60px 60px 0px;
	border: 1px solid #7dd359;
	margin-top: 20px;
	/*background: transparent;*/
}

.profile {
	margin-left: 1730px;
	margin-top: -185px;
	padding: auto;
	width: 50px;
	height: 30px;
}

.profile ul li {
	display: grid;
	float: center;
	margin: 0px;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.profile-menu {
	font-family: 'Lucida Console', 'Courier New', monospace;
	font-size: small;
	display: none;
	position: absolute;
	right: 0;
	background-color: #000000;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.profile-menu a {
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	background-color: #000000;
	border-radius: 5px;
}

.profile-menu a:hover {
	background-color: #000000;
}

.dropdown:hover .profile-menu {
	display: block;
	background-color: #000000;
	border: 1px solid #7dd359;
	margin-top: -18px;
	margin-right: 15px;
	border-radius: 10px;
}

.menu {
	width: 55%;
	margin-left: 220px;
	margin-top: 10px;
	border: 1px solid #000000;
}

.menu ul li {
	font-family: 'Lucida Console', 'Courier New', monospace;
	display: inline-block;
	color: #ffffff;
	margin-left: 25px;
	border: 1px solid #000000;
}

.menu ul li :hover {
	height: 50px;
	border-top: 2px solid #7dd359;
	border-bottom: 2px solid #7dd359;
}

.menu ul li a:hover {
	color: #7dd359;
	border-top: 1px solid #7dd359;
	border-bottom: 1px solid #7dd359;
}

.menu ul li a {
	color: #ffffff;
	text-decoration: none;
	font-size: 20px;
	text-transform: uppercase;
}

/*--------------------------------------------------------------------------------------------------------*/

.page-title {
	font-family: 'Lucida Console', 'Courier New', monospace;
	width: 70%;
	margin: auto;
}

.product {
	border: 1px solid #000000;
	border-radius: 30px;
	background-color: #cacaca;
	width: 70%;
	height: 200px;
	margin: auto;
}

.product h2 {
	font-family: 'Lucida Console', 'Courier New', monospace;
	margin-left: 10px;
	margin-top: 6px;
}

.product img {
	width: 85px;
	height: auto;
	margin-left: 25px;
}

.product h3 {
	font-family: 'Lucida Console', 'Courier New', monospace;
	margin-left: 125px;
	margin-top: -100px;
}

.product h4 {
	font-family: 'Lucida Console', 'Courier New', monospace;
	font-size: larger;
	margin-left: 125px;
	margin-top: 0px;
}

.item-removal {
	margin-left: 850px;
	margin-top: -100px;
	height: 30px;
	width: 350px;
}

.item-removal h3 {
	margin-left: 0px;
	margin-top: 0px;
}

.item-removal button {
	margin-left: 180px;
}

.subtotal {
	font-family: 'Lucida Console', 'Courier New', monospace;
	border: 1px solid #000000;
	border-radius: 30px;
	background-color: #cacaca;
	width: 70%;
	height: 140px;
	margin: auto;
}

.subtotal h1 {
	margin-left: 50px;
}

.confirm {
	border: 1px solid #37ff7a;
	background-color: #6aff9b;
	border-radius: 10px 0px 0px 10px;
	width: 110px;
	height: 20px;
	margin-left: 370px;
	padding: 1%;
}

.cancel {
	border: 1px solid #ff2b2b;
	background-color: #ff5050;
	border-radius: 0px 10px 10px 0px;
	width: 110px;
	height: 20px;
	margin-left: 509px;
	margin-top: -48px;
	text-decoration: none;
	padding: 1%;
	font-size: larger;
}
